<%fields_for :exam do |f|%>
<p>
    <%= f.label :subject %><br />
    <%= f.select :subject_id,[["Select Subjects"]] + @subjects %>
</p>
 <%= observe_field("exam_subject_id", :frequency => 1,
                  :before => "jQuery('#spinner1').show();",
                  :success => "jQuery('#spinner1').hide();",
                  :url => {:action=>'replace_maximum_marks'}, 
				    :method => :get,
                  :with => "'subject_id=' + value") %>
				  
    	 
            <%= image_tag("spinner.gif",
               			:border => 0,
              			:id => "spinner1",
			        :style =>"display: none;" ) %>   



<%end%>
