<% form_for :students,:url => import_students_create_admin_students_path,  :html => {:method => :post,:multipart => :true} do |f| %>
	<%= f.error_messages %>
	 <p>
    		 <%= f.label :File%><br />
    		 <%= f.file_field :file%>
  	 </p>
  	
  	<%= f.submit 'Import' %>
 <% end %> 	 
  	 
