html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,textarea, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin : 0; padding : 0; border : 0; outline : 0; vertical-align : baseline}
:focus {outline : 0}
ol, ul {list-style : none}
table {border-collapse : separate; border-spacing : 0}
caption, th, td {text-align : left; font-weight : normal}
blockquote:before, blockquote:after, q:before, q:after {content : ""}
blockquote, q {quotes : "" ""}

body { margin: 5px 10px 10px; padding: 0px; background: rgb(211, 202, 170) url('/images/bg.jpg') repeat-x scroll 0% 0%; color: rgb(0, 0, 0); font-family: Verdana,Arial,Tahoma; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
/*
body {
	margin: 0px;
	padding: 0px;
	font-family : "arial", helvetica, sans-serif;
	font-size:12px;
	color: #666;
	background: #fff url(/images/bg.jpg) repeat-x;	
}
*/
p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}
/*..................................................header............................*/
#body_wrapper{
  margin: 20px 10px 20px 10px;
  background: #fff;
  padding-bottom: 20px;

}
#notice{
	width:970px;
	margin:0 auto;
	font-size:12px;	
}

#header {
        width: 96%;
	height: 100px;
	margin: 0px auto 40px auto;
        padding: 5px;
}

#header #site_heading {
	float: left;	width: 75%;
	height: 75px;
	margin: 0px 0px 0px 2px;
}

#header #site_heading h1 {
	float: left;
	color: #f7d243;	margin: 0px 0px 0px 2px;
	padding: 0px 0px 0px 0px;
	font-family: "arial", helvetica, sans-serif;
	font-size: 38px;	      	
}

#header #site_heading h1 span {
	color: #ca3a85;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 1px;
}

.header_links{ 
	width:20%;
	float:right;
	margin: 0px 0px 0px 0px;
	height:15px; 
}

.header_links ul {
	margin:0px 20px 0px 0px;
	padding:0px;
	float:right;
}

.header_links ul li {
	margin:0px;
	padding:0px;
	display:inline;
	color:#fff;
}

.header_links ul li a{
	color: #000;
	font-size:11px;
	display:inline;
	font-weight:bold;
	text-decoration:none;
}

.header_links ul li a:hover{b4d7ec
	color:#86b050;
	text-decoration:underline;
}

/* menu *******************************************************************************/
#menu-wrapper {background: #c2d2e3; padding: 1px; margin: 10px auto 10px auto;}
#menu { 
	background: #e2f2ff url(/images/menu.gif) repeat-x;
        height:37px;
	margin: 15px 3px 10px 3px;
}

#menu ul {
	padding: 0px;
	list-style: none;
}

#menu ul li {
	float: left;
	background: url(/images/line.gif) no-repeat right;
	display:inline;	
        margin-top: 10px;
}

#menu ul li a{
	text-align:left;
	font-size: 13px;
	text-decoration: none;
	color: #fff;	
	font-weight: bold;
	text-transform:uppercase;
	outline: none;
	padding:12px 5px 15px 0px;
	margin:5px 10px 0px 10px;
	font-family : "arial", helvetica, sans-serif;
}

#menu ul li.active a{ color:#b4d7ec; }

#menu li a:hover{
	color: #0e8ab8;
	
}
.header_links ul li.active a{ color:#964515; }

.header_links li a:hover{color: #0e8ab8; }

/*..............................message-services(new message)................................*/

#page-heading{
 font-size: 18px;
 width: 94%;
 margin: 10px auto 10px auto;
 padding: 0px;
 background: #fff;
 color: #ca3a85;
}

#message_wrapper{
        clear: both;
	width: 92%;
  	margin: 10px auto 10px auto;
  	background: #ddd;
        padding: 20px;
}

#message{

}

.left{	
	float:left; 
	padding: 0px; 
	margin: 0px;
}

.right{	
	float:right; 
	padding: 0px; 
	margin: 0px;
}

.message_left{
        padding: 0px 0px 10px 0px;
	float:left;
	min-height:350px;
	width:48%;
	margin: 0;
	background: #fff;
}

.message_div_top{
        font-family : "arial", helvetica, sans-serif;
 	background: url(/images/message-top.jpg) repeat-x;
 	padding: 4px 8px 4px 0px;
       border-bottom: 1px solid #ccc;
}
.message_div_top .heading{
	font-size: 16px;
	padding: 0px 0px 0px 25px;
	margin: 2px 0px 2px 15px;
	width: 35%;
	color:#fff;
	font-weight:bold;
	float:left;
	letter-spacing:1px;
	background: url(/images/bricks.png) no-repeat;

}

.message_left h3 {
	font-size:13px;
	padding:0px;
	color:#215209;
	margin: 5px 0px 5px 30px;
	font-weight:normal;	
}

select{
	font-family: Verdana, Helvetica, Arial;
}

.message_left p{
	font-size: 13px;
	color:#270027;
	margin: 17px 0px 0px 15px;
  font-weight:normal;
}

.message_left p span{
	color:#ea3d3d;
	font-weight:bold;
	margin-left:12px;
}

.message_left  textarea{
	border:2px solid #ddd;
	padding:0px;
	margin: 20px auto 0px auto;
	background-color:#f6f6f6;
	width: 400px;
	height: 175px;
}

.message_left  textarea:focus{
	border:2px solid #bbb;
}

.message_right{
	float:right;
	margin: 0;
	background: #fff url(/images/right_form_bg.gif) no-repeat center;
	width:50%;
	height: auto;
	min-height: 350px;
  padding: 0px 0px 10px 0px;
}

.message_right p{
	font-size:14px;
	color:#000;
	font-family: Verdana, Helvetica, Arial;
	margin:18px 0px 5px 0px;
	padding:2px 5px 5px 25px;
}

#s{
	margin:25px 0px 0px 0px;
}

#s input{
	margin:0px 0px 5px 22px;
	padding:2px 2px 2px 2px;
	color:#000;
	font-size:13px;
	height:25px;
	text-transform:uppercase;
	font-weight:bold;
	font-family: Verdana, Helvetica, Arial;
	background: url(/images/button.gif) repeat-x;
	border:1px solid #ccc;
}

#s input:hover{
	color:#0e8ab8;
	text-decoration:underline;
}

#s a{
	color:#000;
	text-decoration:underline;
	font-size:13px;
	font-weight:normal;
	font-family: Verdana, Helvetica, Arial;
}

#s a:hover{
	color:#000;
	text-decoration:none;
}

#schedule{
	margin:20px 0px 0px 0px;
}

#schedule input{
	border:1px solid #000;
	margin:5px 5px 15px 25px;
}

#schedule span input{
	background: url(/images/button.gif) repeat-x;
	margin:5px 5px 5px 5px;
	padding:2px 10px 2px 10px;
	color:#000;
	text-transform:uppercase;
	font-weight:bold;
	font-size:13px;
	border:1px solid #ccc;
	font-family: Verdana, Helvetica, Arial;
}

#schedule span input:hover{
	background-color:#ef9b0c;
	border:1px solid #ccc;
	color:#fff;
}


#schedule a{
	color:#000;
	text-decoration:underline;
	font-size:13px;
	font-weight:normal;
	font-family: Verdana, Helvetica, Arial;
}

#schedule a:hover{
	color:#000;
	text-decoration:none;
}


/* General ********************************************************************/

#content_wrapper{
	min-height: 500px;
	background-color:#eee;
	margin: 0 auto;
	clear: both;
	width: 95%;
	padding: 5px;
	border-top: none;
}

#wrapper{ 
	min-height: 500px;
	margin: 0px;
        padding:0px 0px 30px 65px;
        background: url(/images/main_line_lt.gif) repeat-y;
}

/*---------------------------------Table styles ---------------------*/


.listing th {
	  background: #ddd url(/images/table_header.jpg) repeat-x;
    color: #000;
    text-align: left;
    padding: 0.6em .5em .5em .5em;
    font-weight: bold;text-transform:uppercase;
 	  font-size:13px;
	  letter-spacing:1px;
}
 
.listing td { 
	color: #000; 
	font-size:13px;
	
}
 
.listing { 
	border-collapse: collapse;
        width: 99%;
        color: #000;
	margin: 27px 5px 0px 10px;
      	float:left;
	font-family : "arial", helvetica, sans-serif;
}
 
.listing a { 
	color: #000;
	text-decoration: none;
}

.listing a:hover { 
	color: #000;
	text-decoration: underline;
}
 
.listing .header {
	background: #F2F3F7;
}

.listing tr.odd {
      background-color:#fff;
      
}

.listing tr.even td {
      height: 32px;
      padding: .5em .5em .5em .8em;
      border-top: #dadeec 1px solid;
      border-bottom: #dadeec 1px solid;
}

.listing tr.odd td {
      height: 32px;
      padding: .5em .5em .5em .8em;
      border-top: #dadeec 1px solid;
      border-bottom: #dadeec 1px solid;
}

.listing tr.odd:hover {
      background-color:#fff;
      
}

.listing tr.even{
      background-color:#eaf2ff;
               
}

.listing tr.even:hover {
      background-color:#fff;
          
}

.listing tr.even td.view {
      height:18px;
      padding:0px 0px 0px 15px;
      border-top: #dadeec 1px solid;
      border-bottom: #dadeec 1px solid;
}

.listing tr.odd td.view {
      height:18px;
      padding:0px 0px 0px 15px;  
      border-top: #dadeec 1px solid;
      border-bottom: #dadeec 1px solid;
}


/*...................................content.......................*/

#listing_file {
	padding:0px;
	height:0 auto;
	width:72%;
  	float:left;
	clear:both;
	margin:29px 0px 30px 6px;
}

#listing_file h1 {
	font-size:16px;
	color:#6d8e13;
	font-family : "arial", helvetica, sans-serif;
	margin:9px 0px 0px 7px;
	font-weight:bold;
	padding:0px 50px 10px 28px;
	width:45%;
	float:left;
	letter-spacing:1px;
	background:url(/images/users.png) no-repeat;
}

#show span a{
	padding:2px 5px 2px 5px;
	color:#000;
	font-size:13px;
	margin-top:7px;
	font-family: Verdana, Helvetica, Arial;
	background: url(/images/button.gif) repeat-x;
	border:1px solid #ccc;
	float:right;
	letter-spacing:1px;
}
	

#show span a:hover{
	color:#6b881c;
	text-decoration:none;
}
 
#hide{ 
	width:20%;
	float:right;
	margin:5px 10px 2px 10px;
}

#hide span a{
	float:right;
	margin:5px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}


/*.............................................................Students......................................*/

#students{
  width: 98%; 
	margin:41px 0px 20px 10px;
	padding:0px 10px 0px 10px;
}

#students input{
	border:1px solid #ccc;
	background-color:#fff;
	margin-top:5px;
	padding:5px;
}

#students input:focus{
	border:1px solid #bbb;
}

table.student_list{
	border-collapse: collapse; 
  width: 97%; 
	border: #bdcedc 1px solid;
	
}

table.student_list tr th{
	font-size:12px;
	background:url(/images/table_header.jpg) repeat-x;
	font-family: Verdana, Arial, Sans-Serif;
	margin:3px 0px 4px 0px;
	font-weight:bold;
	color:#000;
	padding:3px 5px 8px 5px;
	text-align:left;
}

table.student_list tr td{
	font-size:12px;
	font-family: Verdana, Arial, Sans-Serif;
	margin:2px 0px 5px 0px;
	color:#000;
	padding:5px 5px 6px 5px;
	text-align:left;
	
}

table.student_list tr th h3{
	font-size:12px;
	font-family: Verdana, Arial, Sans-Serif;
	margin:2px 0px 5px 0px;
	font-weight:bold;
	color:#000;
	padding:0px 5px 0px 5px;
	text-align:left;
	
}
table.student_list tr.odd {
	background-color:#fff;
}

table.student_list tr.even {
	background-color:#eaf2ff;
}

table.student_list tr.even:hover{
	background-color:#fff;
}


table.student_group{
	border-collapse: collapse; 
	width: 400px; 
	border: #bdcedc 1px solid;
}

table.student_group tr th{
	font-size:12px;
	background-color:#ddd;
	font-family: Verdana, Arial, Sans-Serif;
	margin:5px 0px 5px 0px;
	font-weight:bold;
	color:#000;
	padding:5px 5px 5px 5px;
	text-align:left;
}

table.student_group tr td{
	font-size:12px;
	font-family: Verdana, Arial, Sans-Serif;
	margin:2px 0px 5px 0px;
	color:#000;
	padding:5px 5px 6px 5px;
	text-align:left;	
}

table.student_group tr th h3{
	font-size:12px;
	font-family: Verdana, Arial, Sans-Serif;
	margin:0px 0px 5px 0px;
	font-weight:bold;
	color:#000;
	padding:0px 5px 0px 5px;
	text-align:left;
	
}
table.student_group tr.odd {
	background-color:#fff;
}
table.student_group tr.even {
	background-color:#eaf2ff;
}

table.student_group tr.even:hover{
	background-color:#fff;
}

#select_group{
	float:left;
	margin:31px 0px 0px 10px;
	padding:0px 10px 0px 0px;
}

#select_group h4{
	font-size:15px;
	color:#28659b;
	font-family:vardana;
	font-weight:bold;
}

#select_groups{
	float:left;
	margin:31px 0px 0px 10px;
	padding:0px 0px 0px 0px;
}

/*.........................sidebar.....................................*/


.sidebar{
	/*background: #EEECDE; */
    	margin: 0px 0px 0px 10px;
    	padding: 0px 0px 150px 0px;
    	height:0 auto;
    	/*border-left:1px solid #cecece;*/
    	width:25%;
    	float:right;
}

.sidebar h1{
	font-size:16px;
	color: #6d8e13;
	font-family: Verdana, Helvetica, Arial;
	margin:28px 0px 0px 7px;
  font-weight:bold;
	padding:7px 5px 10px 40px;
	background:url(/images/search.gif) no-repeat left;
}

.sidebar th {
	  color: #000;
    text-align: left;
    padding: 0.5em .5em .5em .5em;
    font-size:13px;
	  }
 
.sidebar td { 
	padding: .5em .5em .5em .5em; 
	color: #000; 
	font-size:13px;
}

.sidebar td input{ 
	border:1px solid #afafb0;
	padding:1px 0px 1px 0px;
	width:90%;
	background-color:#fff;
}

.sidebar td input:focus{ 
	border:1px solid #b68f54;
}

.sidebar table {
	margin:0px 0px 0px 5px;
}

.sidebar table tr td.btn input{
	width:100px;
	height:25px;
	padding:0px 0px 3px 0px;
	border:0px solid #575656;
	background: url(/images/button.jpg) no-repeat top;
	font-weight:bold;
	margin:25px 0px 0px 0px;
	font-family: Verdana, Helvetica, Arial;
	
}
/* end of sidebar */
/*...............................................create new record.......................*/

.create_new{
	float:left;
	padding:10px 0px 15px 10px;
	margin-top:21px;
}

.create_new fieldset{
	background:#eeedee;
	border:1px solid #cecece;
	padding-left:10px;
	width:400px;
}

.create_new span input{
	background-color:#771919;
	margin:5px 5px 5px 10px;
	padding:5px 10px 5px 10px;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	font-weight:bold;
	font-family: Verdana, Helvetica, Arial;
}

.create_new span input:hover{
	background-color:#371c6d;
}

.create_new span a{
	text-decoration:underline;
	font-family: Verdana, Helvetica, Arial;
	padding:5px;
	font-size:13px;
	color:#000;
}
.create_new p input{
	border:1px solid #8a8b8c;
	padding:3px;
	width:250px;
	background:#fff url(/images/input.png) repeat-x bottom;
	
}

.create_new p textarea{
	border:1px solid #8a8b8c;
	padding:2px;
	background:#fff url(/images/input.png) repeat-x bottom;
	width:350px;
	height:120px;
}

.create_new p textarea:focus{
	border:1px solid #d8b186;
	padding:2px;
	background:#fff url(/images/input.png) repeat-x bottom;
	width:350px;
}

.create_new p{
	font-size:13px;
	color:#270027;
	font-family: Verdana, Helvetica, Arial;
	margin:15px 0px 5px 10px;
	font-weight:normal;
}

.clear{
	clear:both;
}

.create_new h3{
	font-size:14px;
	color:#270027;
	font-family: Verdana, Helvetica, Arial;
	margin:7px 0px 6px 5px;
}

/* end create page**********/
/*......................................................Show-page..............................*/

.showpage_content{
	margin:30px 40px 0px 30px;
	color:#ae216a;
	padding-bottom:15px;
	background-color:#fff;
	width:500px;
	border:5px solid #8e8c8c;	
}

.showpage_content h3{
	color:#fff;	
	font-family: Verdana, Helvetica, Arial;
	background-color:#a91b35;
	padding:8px 10px 8px 10px;
}

table.show_page{
	margin:0px 40px 10px 30px;
}

table.show_page tr th{
	font-size:14px;
	color:#000;
	font-family: Verdana, Helvetica, Arial;
	font-weight:normal;
	text-align:left;
	padding:10px 20px 10px 5px;
}

table.show_page tr td{
	font-size:14px;
	color:#000;
	font-family: Verdana, Helvetica, Arial;
	font-weight:normal;
	text-align:left;
}

table.show_page tr td.facebox_btn a{
	font-size:14px;
	color:#000;
	font-family: Verdana, Helvetica, Arial;
	margin:0px 0px 0px 5px;
	font-weight:normal;
	background: url(/images/button.gif) repeat-x;
	border:1px solid #ccc;
	width:30px;
	text-decoration:none;
	padding:2px 15px 2px 15px;
}

table.show_page tr td a:hover{
	background: url(/images/button_hover.gif) repeat-x;
	border:1px solid #e09b24;
	color:#000;
}

table.student_letter{
	border-collapse: collapse; 
	width: 250px; 
	border: #bdcedc 1px solid;
	margin:10px 0px 40px 30px;
}

table.student_letter tr th{
	font-size:12px;
	background:url(/images/table_header.jpg) repeat-x;
	font-family: Verdana, Arial, Sans-Serif;
	margin:0px 0px 4px 0px;
	font-weight:bold;
	color:#000;padding:5px 5px 9px 5px;
	text-align:left;
}

table.student_letter tr td{
	font-size:12px;
	font-family: Verdana, Arial, Sans-Serif;
	margin:0px 0px 5px 0px;
	color:#000;
	padding:9.2px 5px 7px 5px;
	text-align:left;
	
}

table.student_letter tr.odd {
	background-color:#fff;
}

table.student_letter tr.even {
	background-color:#eaf2ff;
}

table.student_letter tr.even:hover{
	background-color:#fff;
}

.showpage_content a{
	padding:2px 10px 2px 15px;
	color:#000;
	font-size:13px;
	width:183px;
	height:25px;
	text-transform:uppercase;
	font-weight:bold;
	font-family: Verdana, Helvetica, Arial;
	background: url(/images/button.gif) repeat-x;
	border:1px solid #ccc;
	margin-left:35px;
}

.showpage_content a:hover{
	background: url(/images/button_hover.gif) repeat-x;
}




/* end show page*/
/**************************Edit page***************************/

.Edit_show {
	padding: 15px 10px 10px 15px;
	height: 0 auto;
}

.Edit_show fieldset{
	 background: #eeedee;
	border:1px solid #cecece;
	width:450px;margin:10px 0px 0px 0px;
}

.Edit_show p input{
	background:#fff url(/images/input.png) repeat-x bottom;
	margin:5px 5px 5px 0px;
	padding:5px 10px 5px 10px;
	border:1px solid #808080;
	
}

.Edit_show p{
	color:#000;
	padding:5px 5px 5px 12px;
}

.Edit_show p label{
	color:#000;
	font-weight:normal;
	margin:5px 0px 0px 0px;
}

.Edit_show p textarea{
	border:1px solid #808080;
	padding:2px;
	background:#fff url(/images/input.png) repeat-x bottom;
	width:90%;
	height:150px;
}

.Edit_show p textarea:focus{
	border:1px solid #e8c382;
}

.Edit_show p span input{
	background:#771919;
	margin:5px 5px 5px 5px;
	padding:5px 10px 5px 10px;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;font-weight:bold;
	font-family: Verdana, Helvetica, Arial;
}

.Edit_show p input:focus{
	border:1px solid #e8c382;
}
.Edit_show p span input:hover{
	background-color:#371c6d;
}

/*...............................pagination..........................................*/

#pg{
	padding:40px 0px 0px 0px;
	clear:both;
	margin:0px 0px 0px 20px;
	
}
 
/* Pagination Link */

#pg a {
	font-size: 11px;
	text-decoration: none;
	color: #000000;
	border: 1px solid #d1f1bd;
	padding: 3px;
	-moz-border-radius: 3px;
}
 
#pg a:hover {
	font-size: 11px;
	text-decoration: none;
	color: #000000;
	border: 1px solid #000000;
	background-color: white;
	padding: 3px;
	-moz-border-radius: 3px;
}
 
/* Pagination Current Page */
 
#pg a.current {
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border: 1px solid #0D62C3;
	background-color: #0D62C3;
	padding: 3px;
	-moz-border-radius: 3px;
}
 
/* Pagination Disabled Page */

#pg span.disabled {
	font-size: 11px;
	text-decoration: none;
	color: #C6C7C7;
	border: 1px solid #C6C7C7;
	background-color: white;
	padding: 3px;
	-moz-border-radius: 3px; // Rounds the corners; Works for Mozilla only
}


/* footer **************************************************************/

#footer_wrapper {
	width: 100%;
	clear:both;
	border-top:5px solid #e1dfdf;
	background-color:#f6f6f6;
}

#footer {
	width: 920px;
	padding: 30px;
	margin: 0 auto;
	color: #828c96;
}

.footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_menu_list li {
	margin: 0px;
	padding: 0px;
}

.footer_menu_list li a {
	color: #828c96;
	text-decoration: none;
}
/* end of footer */

#balance {
	float: right;
	color:#e31c1c;
	padding: 26px 0px 0px 0px;	font-family: Verdana, Helvetica, Arial;
	font-weight:bold;
	font-size:14px;
	margin-right:5px;	
}

#login {
	float:left;
  padding:20px 90px 10px 30px;
	margin:80px 10px 0px 140px;
	border:3px solid #eeeeee;
	background-color:#8d8d8d;
}
 #login fieldset label{
		font-size:13px;
		color:#0d0d6e;
		margin:5px 5px 5px 5px;
	}
#login fieldset input{
	border:1px solid #eeeeee;
}

#login fieldset a{
	font-size:12px;
	color:#0d0d6e;
	margin:5px 5px 5px 5px;
}
#login fieldset a:hover{
	font-size:12px;
	color:green;
	margin:5px 5px 5px 5px;
}


#login  input:focus{
	background-color:#fff;
	border:#c8905e 1px solid;
}

#login input {
	font-size: 11px;padding:2px;
	border-left:2px solid #cee4ef;
	border-top:1px solid #cee4ef;
	border-right:1px solid #cee4ef;
	border-bottom:1px solid #cee4ef;
	margin:5px 5px 5px 5px;
	
}
#user-show {
  float:left;
  padding:20px 90px 10px 30px;
	margin:80px 10px 0px 140px;
	border:1px solid;
	background-color:#eeedee;
	font-size :18px;
}

#user-show  a{
  background-color:#771919;
	margin:5px 5px 5px 10px;
	padding:5px 10px 5px 10px;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	font-weight:bold;
	font-family: Verdana, Helvetica, Arial;
}

#user-show  a:hover{
	background-color:#371c6d;
	text-decoration:none;
}

.letter_show{
	margin:30px 40px 0px 30px;
	color:#ae216a;
	font-weight:bold;
	padding-bottom:15px;
	background-color:#eaf2ff;
	border:1px solid;
	width:500px;
}
.letter_show a{
	padding:2px 10px 2px 15px;
	color:#000;
	font-size:13px;
	width:183px;
	height:25px;
	text-transform:uppercase;
	font-weight:bold;
	font-family: Verdana, Helvetica, Arial;
	background: url(/images/button.gif) repeat-x;
	border:1px solid #ccc;
	margin-left:35px;
}

.letter_show a:hover{
	background: url(/images/button_hover.gif) repeat-x;
}

#user-new{
  float:right;
  margin:10px 30px 10px 10px;
  }
 
 #user-new  a{
  	background-color:#120f24;
  	margin:5px 5px 5px 10px;
		padding:5px 10px 5px 10px;
  	color:#fff;
		font-size:13px;
		text-transform:uppercase;
		font-weight:bold;
		font-family: Verdana, Helvetica, Arial;
		text-decoration:none;
}
 #user-new  a:hover{
		background-color:#371c6d;
		text-decoration:none;
}
  
 h1.users-list{
    font-size:16px;
	  color:#6d8e13;
    font-family : "arial", helvetica, sans-serif;
	  margin:9px 0px 0px 7px;
	  font-weight:bold;
    padding:0px 50px 10px 28px;
	  width:45%;
	  float:left;
	  letter-spacing:1px;
	  background:url(/images/users.png) no-repeat;
  } 
.user-search {
  font-size:18px;
  font-weight:bold;
  width:48%;
  border:2px solid #ccc;
  padding :20px 20px 30px 20px;
  margin:20px 20px 20px 20px;
  background-color:#eeecde;
  }
 .user-search span input{
	 height:25px;
	 padding:0px 4px 3px 0px;
	 border:0px solid #575656;
	 background: url(/images/button.jpg) no-repeat top;
	 font-weight:bold;
	 margin:25px 0px 0px 20px;
	 font-family: Verdana, Helvetica, Arial;
	
}
/*................................................ Error Reporting Styles */

.Errors_left{
	float:left;
	padding:10px 0px 15px 10px;
	margin-left:0px;
	width:400px;
	font-size: 12pt;
	color:#000;
}

.Errors_right{
	float:right;
	margin:10px 0px 0px 0px;
	padding:0px 10px 0px 0px;
	font-size: 12pt;
	color:#000;
}

.Errors_left span input{
	background-color:#771919;
	margin:5px 5px 5px 0px;
	padding:5px 10px 5px 10px;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;font-weight:bold;
	font-family: Verdana, Helvetica, Arial;
}

.Errors_left span input:hover{
	background-color:#371c6d;
}

.Errors_left span a{
	text-decoration:underline;
	font-family: Verdana, Helvetica, Arial;
	padding:5px;
	font-size:13px;
	color:#000;
}

.fieldWithErrors {
 	margin: 2px;
 	padding: 2px;
 	border: 2px solid red;
 	display: table;
}

#errorExplanation {
 	border: 2px solid red;
 	padding: 7px;
 	padding-bottom: 12px;
 	margin-bottom: 20px;
 	background-color: #fff;
}

#errorExplanation h2 {
 	text-align: left;
 	font-weight: bold;
 	padding: 5px 5px 5px 15px;
 	font-size: 12pt;
 	margin: -7px;
 	background-color: #c00;
 	color: #fff;
}

#errorExplanation p {
 	color: #000;
 	margin-bottom: 0;
 	padding: 5px;
	font-size: 12pt;
}
#errorExplanation ul li {
 	font-size: 11pt;
 	list-style: square;
	margin-left:20px;
}


