<h1 class = 'heading'>List of the students, belongs to the class <%=h @group.name %></h1>	

	 <table  class="student_list" >
		<tr>
			<th>Student name</th>
			<th>Roll No</th>
		</tr>
			<% for student in @students%>
		<tr class="<%=cycle("odd", "even")%>">
			<td><%= student.name%></td>
			<td><%= student.roll_number%></td>
		</tr>
		<%end%>
 	</table>
    
