<div id="footer">
    Copyright © isiri Technologies Pvt. Ltd. &nbsp; &nbsp;  | &nbsp; &nbsp;  Powered by <%= link_to "isiri Technologies Pvt. Ltd.", "http://www.isiritech.com" , {:target => "_blank" }%>   
</div>

<script type="text/javascript">
  jQuery("#footer").corner("corner 5px")
</script>
