<script type="text/javascript">
setTimeout(function() {
    $('#notice').fadeOut('fast');
}, 4000); 
</script>

<% if flash[:notice] %>
  <div id="notice">
     <p><%= flash[:notice] %>
        &nbsp;&nbsp; <%= link_to_function 'OK', "$('#notice').fade({duration: 0.5});", :title => "close", :class => 'close-button' %>
     </p>
  </div>
<% end %>

<% if flash[:error] %>
 <div id="error">
   <p ><%= flash[:error] %>
       &nbsp;&nbsp;<%= link_to_function 'OK', "$('#error').fade({duration: 0.5});", :title => "close", :class => 'close-button' %>
   </p>
</div>
<% end %>

