<%fields_for :school do |f|%>
   <table class="form_style">
    <tr>
        <th width="150px"><%= f.label :End_date%></th>
        <td><%= f.text_field :end_date,:class =>'textbox-small' ,:id => 'date'%></td>
    </tr>
   </table>
<%end%>
<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date', altFormat: 'dd-mm-yy' }) 
			  });
	</script>
