<div class='form_wrapper'>
  <div class ="create_new">
  <% form_for([:admin,@school]) do |f| %>
     <%= f.error_messages %>
	<%= render :partial =>"form",:locals =>{:f => f}%>
	<center><span><%= f.submit "Submit" %></span></center>
	<%end%>
  </div>
<div class="clear"></div>
</div>

