<div class="showpage_content">
	<table class="show_page">
  <tr><th>Tag name:</th>
  <td><%=h @tag.name %></td>
</tr>
<tr>
  <th>Description:</th>
  <td><%=h @tag.description %></td>
</tr>
	<tr>
		<td></td>
		</table>
		<%= link_to 'Edit', edit_tag_path(@tag) %> 
<%= link_to 'Destroy', @tag, :confirm => 'Are you sure?', :method => :delete %>
</div>


