<div class = 'form_wrapper'>
  <h1 class='heading'> 1. Send new message</h1>
  <div class ='inner_content'> 
     <ul>
       <li> a. Click on <%= link_to 'NEW MESSAGE', new_message_path %> menu link.</li>
       <li> b. Either type content in 'Message content' box or selected 'Saved message'. Upon selecting saved message, content box will be updated with the content of the selected message. Message tag also will be selected automatically, based on the selected message's tag.</li>

  </div>
</div>
