<div class='form_wrapper'>
<h1 class ='heading'><%= "#{@user.name}'s account"%></h1>
<div class="create_new">
	<% if current_user.has_role?('admin')%>
		<!--<h3>Sms balance: <%= current_user.balance%></h3>-->
	<%end%>
<% form_for([:admin,@user],:url => admin_user_path(@user),:html => {:multipart => true} ) do |f| %>
	<%= render :partial =>"form"%>
		<span><%= f.submit "Submit" %></span>
	<%end%>
	</div>
	<div class="clear"></div> 
	</div>
