<div class='form_wrapper'>
<h1 class ='heading'><%= "#{@user.name}'s account"%></h1>
<div class="create_new">
	<% if @user.has_role?('admin') && !@user.has_role?('super_admin')%>
	 <h3><%= @user.client_type=="Limited" ? "Sms balance: #{@user.balance}" : "End date: #{@user.end_date.strftime('%d-%m-%y')}"%></h3>
	<%end%>
<% form_for([:admin,@user],:url => admin_user_path(@user),:html => {:multipart => true} ) do |f| %>
	<%= render :partial =>"form"%>
		<span><%= f.submit "Submit" %></span>
	<%end%>
	</div>
	<div class="clear"></div> 
	</div>
