<div id = 'login_wrapper'>
<h1 class ='header'>Password Recovery</h1>
<% unless @user.nil? %>
<p>An email containing password has been dispatched to you at <em><%= @user.mail_id %></em>.</p>
	<% else %>
	<p>Please enter the login or email address associated with your account. We will send you an email with further instructions shortly.</p>

	<% form_tag forgot_password_users_url, :method => :put do %>
		<p><label>Your login or email address</label><br />
		<%= text_field_tag :email_or_login %></p>
	
		<div id="submitbutton">
			<p><%= submit_tag 'Recover my password &raquo;' %></p>
		</div>
	<% end %>
<% end %>
